---
title: startr.cloud
---
{% if redirect %}
  <!DOCTYPE html>
  <html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta http-equiv="refresh" content="0; url={{ redirect }}">
    <script>window.location.href = "{{ redirect }}";</script>
    <title>Redirecting…</title>
  </head>
  <body>
    <p>If you are not redirected automatically, follow the <a href="{{ redirect }}">link to the new page</a>.</p>
  </body>
  </html>
{% else %}
<!DOCTYPE html>
<html lang="en">
  {% include "component/head.njk" %}
    <body style="
    --m:auto; 
    --size:12pt;
    --minh: 100vh;
    --maxw-md: 80rem; ">
      {% include "component/header.njk" %}

      <section style="--m:auto; --m-sm:auto" id="swup" class="transition-fade">
      {{ content | safe }}
      </section>

      {% include "component/footer.njk" %}
      {% include "component/scripts.njk" %}
    </body>
  </html>
</html>
{% endif %}