---
title: startr.cloud
---
<!DOCTYPE html>
<html lang="en">
  {% include "component/head.njk" %}
    <body style="
    --m:auto; 
    --size:12pt;
    --minh: 100vh;
    --maxw-md: 80rem; ">
      {% include "component/header.njk" %}
      <section style="--m:0 1em; --m-sm:auto" >
      {{ content | safe }}
      </section>
      {% include "component/footer.njk" %}
      {% include "component/scripts.njk" %}
    </body>
  </html>
</html>
