<footer style="
--w-xl: calc(100vw + 1rem);
--t-xl: translate(calc(((100vw - var(--maxw-md)) / -2) - 0rem));
--p: 20px; --ta: center">
  <p>Contact us at <a href="mailto:info@startr.cloud">info@startr.cloud</a><br>
  Follow us on social media for the latest updates.</p>

  <style>
    @media only screen and (min-width: 768px) {
      menu li:not(:last-child)::after {
        content: " - ";
        margin: 0 0.5ch;
      }
    }
  </style>
  <menu style="--lis:none; --pd:0; --d-md:flex; --m:auto; --cg:1ch; --jc:center; --p:0; ">
    <li><a href="/privacy">Privacy Policy</a></li>
    <li><a href="/policies/terms">Terms of Service</a></li>
    <li><a href="/job/posts/">Jobs</a></li>
    <li><a href="/cookies">Cookies</a></li>
  </menu>
  <br><hr><br>
  <p>© Startr, LLC 2024<br>
    All rights reserved.<br>
    1309 Coffeen Avenue STE 4572<br>
    Sheridan Wyoming 82801</p>
</footer>